{% extends 'core/base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Services</h1>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
      <h3>Languages</h3>
      <p class="ss-color"><h6>C | C++ | Java | Python <br>
        JavaScript | HTML | CSS</h6></p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
      <h3>Languages</h3>
      <p class="ss-color">C,C++,Java,JavaScript,Python,HTML,CSS</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
      <h3>Languages</h3>
      <p class="ss-color">C,C++,Java,JavaScript,Python,HTML,CSS</p>
    </div>
  </div>
  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
      <h3>Languages</h3>
      <p class="ss-color"><h6>C | C++ | Java | Python <br>
        JavaScript | HTML | CSS</h6></p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
      <h3>Languages</h3>
      <p class="ss-color">C,C++,Java,JavaScript,Python,HTML,CSS</p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
      <h3>Languages</h3>
      <p class="ss-color">C,C++,Java,JavaScript,Python,HTML,CSS</p>
    </div>
  </div>
</div>
{% endblock content %}
